.container {
  width: 440px;
  height: 180px;
  padding: 19px 14px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.iconContainer {
  display: flex;
  align-items: center; /* Вирівнює іконку та текст по вертикалі */
}

.icon {
  width: 35.64px; /* Ширина контейнера */
  height: 23px; /* Висота контейнера */
  background-image: url('./Vector.svg'); /* Путь до зображення */
  background-size: contain; /* Заповнення простору, зберігаючи пропорції */
  background-repeat: no-repeat; /* Не повторювати зображення */
  background-position: center; /* Вирівнювання зображення по центру контейнера */
  margin-right: 10px; /* Відступ між іконкою та назвою папки */
}

.folderName {
  color: black;
  font-size: 23px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  white-space: nowrap; /* Запобігає переносу тексту на новий рядок */
  overflow: hidden; /* Сховати текст, якщо він не поміщається */
  text-overflow: ellipsis; /* Додає три крапки, якщо текст не вміщається */
}

.savedIcon {
  width: 23px;
  height: 20px;
}

.items {
  color: #5a5a5a;
  font-size: 16px; /* Зменшено для кращого вміщення */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin-top: 5px; /* Відступ між items та footer */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px; /* Відступ зверху для footer */
}

.date {
  color: #5a5a5a;
  font-size: 16px; /* Зменшений шрифт для кращого вміщення */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

/* Медіа запити для адаптивності шрифтів */
@media (max-width: 600px) {
  .container {
    height: 100px;
    padding: 10px;
  }

  .icon {
    width: 32px; /* Ширина контейнера */
    height: 20px;
  }

  .folderName {
    font-size: 20px; /* Зменшений шрифт */
  }

  .items {
    font-size: 16px; /* Зменшений шрифт */
  }

  .date {
    font-size: 14px; /* Зменшений шрифт */
  }
}

@media (max-width: 400px) {
  .container {
    height: 100px;
    width: 360px;
  }

  .folderName {
    font-size: 18px; /* Додаткове зменшення шрифту */
  }

  .items {
    font-size: 14px; /* Додаткове зменшення шрифту */
  }

  .date {
    font-size: 12px; /* Додаткове зменшення шрифту */
  }
}
