.avatarContainer {
  position: relative;
}

.avatar {
  width: 40px; /* Встановлюємо ширину аватара */
  height: 40px; /* Встановлюємо висоту аватара */
  border-radius: 9999px; /* Робимо аватар круглим */
  cursor: pointer;
}

.menuPanel {
  position: absolute;
  left: -210px; /* Вирівнюємо по лівому краю для відкриття вліво */
  top: 110%; /* Встановлюємо на 100% від висоти аватара для відкриття під ним */
  width: 255px;
  height: auto; /* Автоматична висота */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1px #e5e5e5 solid;
  z-index: 10; /* Щоб меню було зверху */
}

.menu {
  background: white;
  border-radius: 15px;
  padding: 10px 20px; /* Відступи навколо меню */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Відстань між елементами меню */
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 13px; /* Відстань між іконкою та текстом */
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 9999px; /* Робимо іконку круглою */
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.username {
  color: #1e1e1e;
  font-size: 15px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 600;
}

.email {
  color: black;
  font-size: 12px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 300;
}

.separator {
  border: 0.5px #e5e5e5 solid;
}

.menuItem {
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none; /* Забирає підкреслення тексту */
  color: inherit; /* Зберігає поточний колір тексту */
}

.menuIcon {
  width: 25px; /* Ширина іконки */
  height: 25px; /* Висота іконки */
  margin-right: 10px; /* Відступ праворуч від іконки */
  background-color: white;
}

.homeIcon {
  width: 20px; /* Наприклад, можна зробити її меншою за інші */
  height: 20px;
  margin-right: 17px;
}

@media (max-width: 768px) {
  .menuPanel {
    width: 230px;
    left: -185px;
  }
  /* Для екранів до 768px */
  .avatar {
    width: 40px; /* Зменшуємо ширину аватара */
    height: 40px; /* Зменшуємо висоту аватара */
  }

  .menuItem {
    font-size: 14px; /* Зменшуємо розмір шрифту */
    gap: 8px; /* Зменшуємо відстань між елементами меню */
  }

  .userIcon {
    width: 40px; /* Зменшуємо ширину іконки */
    height: 40px; /* Зменшуємо висоту іконки */
  }

  .menuIcon {
    width: 18px; /* Зменшуємо ширину іконки меню */
    height: 18px; /* Зменшуємо висоту іконки меню */
  }

  .menuItem img {
    width: 18px; /* Ширина іконки */
    height: 18px;
  }

  .username {
    font-size: 13px; /* Зменшуємо розмір шрифту для імені користувача */
  }

  .email {
    font-size: 10px; /* Зменшуємо розмір шрифту для email */
  }

  .menu {
    gap: 7px;
  }
}

@media (max-width: 480px) {
  /* Для екранів до 480px */

  .menuPanel {
    width: 200px;
    left: -155px;
  }

  .avatar {
    width: 40px; /* Зменшуємо ширину аватара */
    height: 40px; /* Зменшуємо висоту аватара */
  }

  .menuItem {
    font-size: 12px; /* Зменшуємо розмір шрифту */
    gap: 5px; /* Зменшуємо відстань між елементами меню */
  }

  .userIcon {
    width: 35px; /* Зменшуємо ширину іконки */
    height: 35px; /* Зменшуємо висоту іконки */
  }

  .menuIcon {
    width: 15px; /* Зменшуємо ширину іконки меню */
    height: 15px; /* Зменшуємо висоту іконки меню */
  }

  .username {
    font-size: 11px; /* Зменшуємо розмір шрифту для імені користувача */
  }

  .email {
    font-size: 9px; /* Зменшуємо розмір шрифту для email */
  }

  .menu {
    gap: 5px;
  }
}
