.container {
  background: rgba(0, 0, 0, 0.5); /* Чорний полупрозорий фон */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Висота на весь екран */
}

.peoplePage {
  width: 600px;
  height: 500px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 20px; /* Відступи для внутрішнього контенту */
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Розмістити елементи по краях */
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px; /* Розмір шрифту для іконки */
  cursor: pointer;
  color: #555; /* Колір іконки */
}

.closeButton:hover {
  color: #000; /* Зміна кольору при наведенні */
}

.username {
  font-size: 24px;
  font-weight: 600;
  flex-grow: 1; /* Залишити простір для username */
  text-align: center; /* Центрувати текст */
}

/* Вкладки */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd; /* Сіра лінія під вкладками */
}

.tab {
  padding: 0px 20px;
  cursor: pointer;
  position: relative;
  color: #555;
  font-size: 16px;
  font-family: 'Noto Sans';
}

.tab:hover {
  color: #000; /* Зміна кольору при наведенні */
}

.active {
  font-weight: bold;
  color: #000; /* Чорний текст для активної вкладки */
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #144250; /* Зелена лінія під активною вкладкою */
}

.tabContent {
}

@media (max-width: 500px) {
  .tab {
    font-size: 15px;
  }
}
