.questionSetsWrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sortDropdown {
  padding: 10px;
  font-size: 1rem;
}

.filterButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.searchComponent {
  width: 250px;
}

.questionSetsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Модальне вікно */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterModal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.filterSection {
  margin-bottom: 20px;
}

.applyButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
