.inputContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 300px;
}

.inputWrapper {
  width: 100%;
  border: 1px solid var(--mainblack);
  border-radius: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: var(--web-18-regular-font-size);
  font-weight: 400;
}

.forgotPassword {
  width: 100%;
  text-align: left;
  color: var(--mainblue);
  font-size: var(--web-18-regular-font-size);
  font-weight: 500;
  margin: 10px 0;
  cursor: pointer;
}

.loginButton {
  width: 100%;
  padding: 15px;
  background: var(--mainyellow);
  border-radius: 15px;
  border: 1px solid var(--maingray-opacity-50);
  color: var(--mainblack);
  font-size: var(--web-23-regular-font-size);
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 768px) {
  .input {
    font-size: var(--web-16-regular-font-size);
  }

  .forgotPassword,
  .loginButton {
    font-size: var(--web-16-regular-font-size);
  }

  .inputContainer {
    gap: 7px;
  }
}
