@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --blueeeeee: rgba(191, 194, 212, 1);
  --bold-16-font-family: 'Sofia Sans', Helvetica;
  --bold-16-font-size: 16px;
  --bold-16-font-style: normal;
  --bold-16-font-weight: 700;
  --bold-16-letter-spacing: 0px;
  --bold-16-line-height: normal;
  --comfortaa-18-font-family: 'Comfortaa', Helvetica;
  --comfortaa-18-font-size: 18px;
  --comfortaa-18-font-style: normal;
  --comfortaa-18-font-weight: 600;
  --comfortaa-18-letter-spacing: 0px;
  --comfortaa-18-line-height: normal;
  --landing-page-h1-font-family: 'Noto Sans', Helvetica;
  --landing-page-h1-font-size: 40px;
  --landing-page-h1-font-style: normal;
  --landing-page-h1-font-weight: 800;
  --landing-page-h1-letter-spacing: 4px;
  --landing-page-h1-line-height: normal;
  --landing-page-h2-font-family: 'Noto Sans', Helvetica;
  --landing-page-h2-font-size: 30px;
  --landing-page-h2-font-style: normal;
  --landing-page-h2-font-weight: 500;
  --landing-page-h2-letter-spacing: 0px;
  --landing-page-h2-line-height: normal;
  --landing-page-h3-font-family: 'Noto Sans Bengali', Helvetica;
  --landing-page-h3-font-size: 28px;
  --landing-page-h3-font-style: normal;
  --landing-page-h3-font-weight: 400;
  --landing-page-h3-letter-spacing: 0px;
  --landing-page-h3-line-height: normal;
  --landing-page-h4-font-family: 'Noto Sans', Helvetica;
  --landing-page-h4-font-size: 26px;
  --landing-page-h4-font-style: normal;
  --landing-page-h4-font-weight: 700;
  --landing-page-h4-letter-spacing: 0px;
  --landing-page-h4-line-height: normal;
  --landing-page-h5-font-family: 'Noto Sans', Helvetica;
  --landing-page-h5-font-size: 20px;
  --landing-page-h5-font-style: normal;
  --landing-page-h5-font-weight: 500;
  --landing-page-h5-letter-spacing: 0px;
  --landing-page-h5-line-height: normal;
  --landing-page-h6-font-family: 'Noto Sans', Helvetica;
  --landing-page-h6-font-size: 20px;
  --landing-page-h6-font-style: normal;
  --landing-page-h6-font-weight: 400;
  --landing-page-h6-letter-spacing: 0px;
  --landing-page-h6-line-height: normal;
  --landingdark-blue: rgba(29, 19, 82, 1);
  --landinglight-blue: rgba(206, 211, 237, 1);
  --landinglight-yellow: rgba(255, 248, 196, 1);
  --landingpurple: rgba(171, 173, 206, 1);
  --light-7-font-family: 'Comfortaa', Helvetica;
  --light-7-font-size: 7px;
  --light-7-font-style: normal;
  --light-7-font-weight: 300;
  --light-7-letter-spacing: 0px;
  --light-7-line-height: normal;
  --light-gray: rgba(229, 229, 229, 1);
  --lightlight: rgba(241, 241, 241, 1);
  --mainbackground: rgba(233, 232, 240, 1);
  --mainblack: rgba(0, 0, 0, 1);
  --maingray: rgba(90, 90, 90, 1);
  --maingreen: rgba(20, 66, 80, 1);
  --mainlight-blue: rgba(175, 190, 209, 1);
  --mainred: rgba(249, 111, 93, 1);
  --mainwhite: rgba(255, 255, 255, 1);
  --mainyellow: rgba(244, 224, 77, 1);
  --medium-23-font-family: 'Noto Sans', Helvetica;
  --medium-23-font-size: 23px;
  --medium-23-font-style: normal;
  --medium-23-font-weight: 500;
  --medium-23-letter-spacing: 0px;
  --medium-23-line-height: normal;
  --medium-30-font-family: 'Comfortaa', Helvetica;
  --medium-30-font-size: 30px;
  --medium-30-font-style: normal;
  --medium-30-font-weight: 500;
  --medium-30-letter-spacing: 0px;
  --medium-30-line-height: normal;
  --mobile-bold-20-font-family: 'Sofia Sans', Helvetica;
  --mobile-bold-20-font-size: 20px;
  --mobile-bold-20-font-style: normal;
  --mobile-bold-20-font-weight: 700;
  --mobile-bold-20-letter-spacing: 0px;
  --mobile-bold-20-line-height: normal;
  --mobile-light-12-font-family: 'Sofia Sans', Helvetica;
  --mobile-light-12-font-size: 12px;
  --mobile-light-12-font-style: normal;
  --mobile-light-12-font-weight: 300;
  --mobile-light-12-letter-spacing: 0px;
  --mobile-light-12-line-height: normal;
  --mobile-light-15-font-family: 'Sofia Sans', Helvetica;
  --mobile-light-15-font-size: 15px;
  --mobile-light-15-font-style: normal;
  --mobile-light-15-font-weight: 300;
  --mobile-light-15-letter-spacing: 0px;
  --mobile-light-15-line-height: normal;
  --mobile-medium-11-font-family: 'Sofia Sans', Helvetica;
  --mobile-medium-11-font-size: 11px;
  --mobile-medium-11-font-style: normal;
  --mobile-medium-11-font-weight: 500;
  --mobile-medium-11-letter-spacing: 0px;
  --mobile-medium-11-line-height: normal;
  --mobile-regular-16-font-family: 'Sofia Sans', Helvetica;
  --mobile-regular-16-font-size: 16px;
  --mobile-regular-16-font-style: normal;
  --mobile-regular-16-font-weight: 400;
  --mobile-regular-16-letter-spacing: 0px;
  --mobile-regular-16-line-height: normal;
  --mobile-semi-bold-12-font-family: 'Sofia Sans', Helvetica;
  --mobile-semi-bold-12-font-size: 12px;
  --mobile-semi-bold-12-font-style: normal;
  --mobile-semi-bold-12-font-weight: 600;
  --mobile-semi-bold-12-letter-spacing: 0px;
  --mobile-semi-bold-12-line-height: normal;
  --mobile-semibold-15-font-family: 'Sofia Sans', Helvetica;
  --mobile-semibold-15-font-size: 15px;
  --mobile-semibold-15-font-style: normal;
  --mobile-semibold-15-font-weight: 600;
  --mobile-semibold-15-letter-spacing: 0px;
  --mobile-semibold-15-line-height: normal;
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  --shadow-top: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  --web-18-regular-font-family: 'Noto Sans', Helvetica;
  --web-18-regular-font-size: 18px;
  --web-18-regular-font-style: normal;
  --web-18-regular-font-weight: 400;
  --web-18-regular-for-numbers-font-family: 'Noto Sans', Helvetica;
  --web-18-regular-for-numbers-font-size: 18px;
  --web-18-regular-for-numbers-font-style: normal;
  --web-18-regular-for-numbers-font-weight: 400;
  --web-18-regular-for-numbers-letter-spacing: 0px;
  --web-18-regular-for-numbers-line-height: normal;
  --web-18-regular-letter-spacing: 0px;
  --web-18-regular-line-height: normal;
  --web-20-regular-font-family: 'Noto Sans', Helvetica;
  --web-20-regular-font-size: 20px;
  --web-20-regular-font-style: normal;
  --web-20-regular-font-weight: 400;
  --web-20-regular-for-numbers-font-family: 'Noto Sans', Helvetica;
  --web-20-regular-for-numbers-font-size: 20px;
  --web-20-regular-for-numbers-font-style: normal;
  --web-20-regular-for-numbers-font-weight: 400;
  --web-20-regular-for-numbers-letter-spacing: 0px;
  --web-20-regular-for-numbers-line-height: normal;
  --web-20-regular-letter-spacing: 0px;
  --web-20-regular-line-height: normal;
  --web-23-light-font-family: 'Noto Sans', Helvetica;
  --web-23-light-font-size: 23px;
  --web-23-light-font-style: normal;
  --web-23-light-font-weight: 300;
  --web-23-light-letter-spacing: 0px;
  --web-23-light-line-height: normal;
  --web-23-regular-font-family: 'Noto Sans', Helvetica;
  --web-23-regular-font-size: 23px;
  --web-23-regular-font-style: normal;
  --web-23-regular-font-weight: 400;
  --web-23-regular-letter-spacing: 0px;
  --web-23-regular-line-height: normal;
  --web-30-regular-font-family: 'Noto Sans', Helvetica;
  --web-30-regular-font-size: 30px;
  --web-30-regular-font-style: normal;
  --web-30-regular-font-weight: 400;
  --web-30-regular-letter-spacing: 0px;
  --web-30-regular-line-height: normal;
  --web-35-regular-font-family: 'Noto Sans', Helvetica;
  --web-35-regular-font-size: 35px;
  --web-35-regular-font-style: normal;
  --web-35-regular-font-weight: 400;
  --web-35-regular-letter-spacing: 0px;
  --web-35-regular-line-height: normal;
  --web-40-regular-font-family: 'Noto Sans', Helvetica;
  --web-40-regular-font-size: 40px;
  --web-40-regular-font-style: normal;
  --web-40-regular-font-weight: 400;
  --web-40-regular-letter-spacing: 0px;
  --web-40-regular-line-height: normal;
  --x: rgba(214, 219, 225, 1);
}

body {
  background-color: aliceblue;
  margin: 0; /* Відміняє відступи за замовчуванням */
  height: 100vh; /* Висота на весь екран */
  overflow: hidden; /* Сховає прокрутку, якщо вона з'явиться */
}
