.container {
  width: 440px;
  padding: 15px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.iconContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 35.64px;
  height: 23px;
  background-image: url('./Vector.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: 23px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.savedIcon {
  width: auto; /* Зміна ширини на авто */
  height: 20px; /* Встановіть висоту, якщо потрібно */
  display: flex;
  align-items: center; /* Вирівнювання по вертикалі */
  gap: 5px; /* Відстань між іконкою та текстом */
  margin-left: auto; /* Додано, щоб текст залишався з правого краю */
}

.visibilityContainer {
  display: flex;
  align-items: center;
}

.visibilityIcon {
  width: 20px; /* Встановіть бажану ширину іконки */
  height: 20px; /* Встановіть бажану висоту іконки */
}

.visibilityInfo {
  white-space: nowrap;
  margin-left: 5px;
}

/* Рядок для рівня та кількості запитань */
.infoRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 18px;
}

.bold {
  font-weight: 500;
  font-size: 18px;
}

.level,
.questionsCount {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

.levelValue {
  font-weight: 500;
  color: #333;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.category {
  padding: 5px 10px;
  background: #d6dbe1;
  border-radius: 10px;
  font-size: 14px;
}

/* Інформація про користувача */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.userIcon {
  width: 25px;
  height: 23px;
  background-image: url('./Group.svg');
}

.username {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.date {
  font-size: 18px;
  color: #5a5a5a;
}

/* Медіа запити для адаптивності шрифтів */
@media (max-width: 600px) {
  .container {
    gap: 10px;
    height: fit-content;
    padding: 10px;
    width: 400px;
  }

  .icon {
    width: 32px;
    height: 20px;
  }

  .title {
    font-size: 20px; /* Зменшений шрифт для заголовка */
  }

  .username {
    font-size: 18px; /* Зменшений шрифт для імені */
  }

  .date {
    font-size: 16px; /* Зменшений шрифт для дати */
  }

  .categories {
    gap: 6px; /* Зменшена відстань між категоріями */
  }

  .category {
    font-size: 16px; /* Зменшений шрифт для категорій */
    padding: 4px 8px; /* Зменшені відступи для категорій */
  }
}

@media (max-width: 420px) {
  .container {
    height: fit-content;
    width: 340px;
  }

  .title {
    font-size: 18px; /* Додаткове зменшення шрифту для заголовка */
  }

  .username {
    font-size: 16px; /* Додаткове зменшення шрифту для імені */
  }

  .date {
    font-size: 14px; /* Додаткове зменшення шрифту для дати */
  }

  .categories {
    gap: 4px; /* Додаткове зменшення відстані між категоріями */
  }

  .category {
    font-size: 14px; /* Додаткове зменшення шрифту для категорій */
    padding: 3px 6px; /* Додаткове зменшення відступів для категорій */
  }
}
