.libraryPage {
  padding: 10px 40px;
  align-self: center;
}

.header {
  font-size: 35px;
  margin-bottom: 10px;
}

/* Адаптивність для заголовка */
@media (max-width: 1200px) {
  .header {
    font-size: 28px;
    margin-bottom: 7px;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

/* Адаптивність для вкладок */
.tab {
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
  position: relative;
  color: #555;
}

@media (max-width: 768px) {
  .tab {
    font-size: 18px; /* Зменшити шрифт для менших екранів */
    padding: 8px 8px; /* Зменшити відступи */
  }

  .libraryPage {
    padding: 10px 20px;
  }
}

.tab:hover {
  color: #000;
}

.active {
  font-weight: bold;
  color: #000;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.tabContent {
  margin-top: 20px;
}

/* Адаптивність для контенту вкладки */
@media (max-width: 768px) {
  .tabContent {
    padding: 10px;
  }

  .libraryPage {
    padding: 10px;
  }

  .tab {
    font-size: 16px;
  }

  .header {
    font-size: 23px;
    margin-bottom: 5px;
  }
}
