.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Для каруселі з одним або двома елементами */
.centered {
  justify-content: center; /* Центрує елементи по горизонталі */
}

.search {
  width: 80%;
  margin-top: 10px;
  display: none;
}

.recommendationTitle {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 40px;
  width: 100%;
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 15px 40px;
}

.questionSets,
.resources {
  width: 100%;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* Сховати елементи, що виходять за межі */
  padding: 0 30px; /* Відступи зліва і справа */
}

.questionSetContainer,
.resourceContainer {
  display: flex; /* Вирівнювання компонентів в ряд */
  transition: transform 0.3s ease; /* Плавний перехід */
  width: 100%; /* Витягувати 100% ширини контейнера */
}

.questionSetComponent,
.resourceComponent {
  box-sizing: border-box; /* Включає відступи та межі у загальну ширину */
  margin: 10px; /* Відступи між компонентами */
}

/* Налаштування стрілок */
.arrowLeft,
.arrowRight {
  background-color: transparent; /* Зробіть фон прозорим */
  border: none; /* Без рамки */
  cursor: pointer; /* Курсор у вигляді руки */
  position: absolute; /* Позиція абсолютна для стрілок */
  top: 50%; /* Вертикальне вирівнювання */
  transform: translateY(-50%); /* Центруємо по вертикалі */
  z-index: 2; /* Впереди контейнера */
  font-size: 40px; /* Збільште розмір шрифта для стрілок */
  opacity: 0; /* Початкова непрозорість */
  transition: opacity 0.3s ease; /* Плавний перехід для появи */
}

.arrowLeft {
  left: 0px; /* Відстань від лівого краю */
}

.arrowRight {
  right: 10px; /* Відстань від правого краю */
}

/* Показувати стрілки при наведенні на карусель */
.carousel:hover .arrowLeft,
.carousel:hover .arrowRight {
  opacity: 1; /* Змінити на видимість при наведенні */
}

@media (min-width: 940px) {
  .questionSetComponent,
  .resourceComponent {
    flex: 0 0 calc(33.33% - 20px); /* По 3 елементи */
  }
}

@media (min-width: 600px) and (max-width: 940px) {
  .questionSetComponent,
  .resourceComponent {
    flex: 0 0 calc(50% - 20px); /* По 2 елементи */
  }
}

@media (max-width: 600px) {
  .questionSetComponent,
  .resourceComponent {
    flex: 0 0 100%; /* По 1 елементу */
  }
}

@media (max-width: 768px) {
  .search {
    display: block;
  }

  .recommendationTitle,
  .title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .questionSetComponent {
    flex: 0 0 100%; /* На найменших екранах по 1 елементу в ряд */
  }

  .carousel {
    padding: 7px;
  }
}
